* {
    margin: 0;
    padding: 0;
}
.container {
    background-image: url(./image/Photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
   padding-top: 68px;
   padding-bottom: 68px;
}
.Introduce {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.Menu { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 120px;
    align-items: center;
}
.Looper {
    margin-left: 147px;
    margin-right: 128px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 2px;
    color: #FCFCFC;
}
.Business {
    display:flex;
    flex-direction: column;
    align-content: space-between;
}
.grow {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 900;
    font-size: 99px;
    line-height: 118px;
    color: #FCFCFC;
    margin-left: 147px;
}
.border {
    border-style: ridge;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    padding-bottom: 36px;
    padding-top: 36px;
    justify-content: space-between;
    margin-top: 70px;
}
.Scroll {
    display: flex;
    flex-direction:unset;
    justify-content: center ;
    transform: rotate(90deg);
}
/* Part1 */
.column-layout{
    display: flex;
    margin-top: 79px;
}
.describle { 
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: normal;
    font-size: 16.2px;
    line-height: 26px;
    color: #776C82;

}
.column-item {
    flex: 1;
}
.container2 { 
    padding : 100px;
}

